<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @option.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @option.description %>
</p>

<p>
  <strong>Meeting address:</strong>
  <%= @option.meeting_address %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @option.meeting_time %>
</p>

<p>
  <strong>Reusable:</strong>
  <%= @option.reusable %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
