<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @response.user_id %>
</p>

<p>
  <strong>Offer plan:</strong>
  <%= @response.offer_plan_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @response.value %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
