<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rough_time %>
    <%= form.datetime_select :rough_time, id: :plan_rough_time %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :plan_owner %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :plan_title %>
  </div>

  <div class="field">
    <%= form.label :user_intro %>
    <%= form.text_field :user_intro, id: :plan_user_intro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
