<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Rough time</th>
      <th>Title</th>
      <th>#Guests</th>
      <th>#Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.owner.slack_id %></td>
        <td><%= plan.rough_time %></td>
        <td><%= plan.title || 'no title' %></td>
        <td><%= plan.invitations.count %></td>
        <td><%= plan.options.count %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
