<p id="notice"><%= notice %></p>

<p>
  <strong>Rough time:</strong>
  <%= @plan.rough_time %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @plan.owner %>
</p>

<p>
  <strong>Title:</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>User intro:</strong>
  <%= @plan.user_intro %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
