<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @plan.owner.team.team_name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @plan.owner.slack_id %>
</p>

<p>
  <strong>Guests:</strong>
  <ul>
  <% @plan.invitations.each do |invitation| %>
    <li><%= invitation.user.slack_id %>
  <% end %>
  </ul>
</p>

<p>
  <strong>Options:</strong>
  <ul>
  <% @plan.options.each do |option| %>
    <li><%= option.title %>
  <% end %>
  </ul>
</p>

<p>
  <strong>Timezone Offset:</strong>
  <%= @plan.tz_offset %>
</p>

<p>
  <strong>Rough time:</strong>
  <%= @plan.rough_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>User intro:</strong>
  <%= @plan.user_intro %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
